<div id="lists" class="grid sm:grid-cols-1 md:grid-cols-3 gap-2">
  <.live_component
    id="1"
    module={LiveviewDragAndDropWeb.ListLive.ListComponent}
    list={@shopping_list}
    list_name="Shopping list"
    group="grocery_list"
  />

  <.live_component
  id="2"
  module={LiveviewDragAndDropWeb.ListLive.ListComponent}
  list={@shopping_list}
  list_name="Shopping list 2"
  group="grocery_list"
/>
</div>
